<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>SUPABASE_URL</key>
	<string>https://xbhlxoctzwcgzgkixnls.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhiaGx4b2N0endjZ3pna2l4bmxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwNDk0NzYsImV4cCI6MjA3NzYyNTQ3Nn0.6z6EvASX0QxTCToeUU1hKKvHq7E4a89Q1DmOowcVaZA</string>
</dict>
</plist>
